.timeh2{
  display: flex;
  font-size: small;
}
.header{
  display:flex;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
  background-color:rgb(238, 187, 238) ;
}